---
layout: home
paginate: true
alt_title: "K(not) a Conversation"
sub_title: "Communication through knots and AI systems"
image: /assets/hero/v2-hero.jpg
vimeoId: 516739403
introduction: |
 The artistic research project explores concepts of artificial intelligence, creativity and labour. Through interactive installations, it instigates a communication and reflection process inspired by ancient indigenous communication systems of Quipu knots. 

actions:
  - label: "More Info"
    url: "/about"
  - label: "Latest Project"
    url: "/projects/v3-india-art-fair"
---

Follow the progress of the project on {% include icon-instagram.html username=site.instagram_username label='Instagram' %}

<br />
<br />
<br />

{% include vimeoPlayer.html id=page.vimeoId %}

<h2>Partners</h2>
<p>A selected list of partners and institutions we worked with.</p>
<img src="/assets/logos/selected-partners.png">